header, section, footer, aside, nav, main, article, figure {
	display: block
}

BODY
{
	background-color: #3F3F3F;
	overflow: auto;
}

HEADER, ASIDE, #NavLeft, #NavRight
{
	border-radius: 10px;
	box-shadow: 6px 6px 8px black;
}

HEADER
{
	height: 20%;
	width: 80%;
	margin: auto;
	background-color: rgb(144,144,144);
}

UL
{
	list-style: none;
	/*width: 12em;*/
}

ASIDE
{
	position: relative;
	bottom: 60px;
	width: 35%;
	background-color: rgb(136,255,137);
}

ASIDE p
{
	font-size: 0.8em;
	padding: 10px 10px 0px;

}

.container
{
	width: 100%;
	/*border: 3px solid black;*/
	overflow: auto;
}

SECTION
{
	padding: 3px;
	margin: auto;
	/*background-color: red;*/
}

FORM
{
	position: relative;
	bottom: 20px;
}

#Italique
{
	font-style: italic;
}

#BigText
{
	font-size: 2em;
}

#cluster
{
	max-width: 60%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#NavLeft, #NavRight
{	
	width: 100px;
	padding-right: 30px;
	background-color: rgb(144,144,144);
}

#NavLeft
{
	margin-left: 50px;
	float: left;
}

#NavRight
{
	margin-right: 50px;
	float: right;
}

#arrow, #main, #outil, #oeil, #chat-icon, #book, #towel
{
	max-width: 100%;
	height: auto;
}

#logo
{
	max-width: 40%;
	height: auto;
	margin: 10px;
}

#close
{
	float: right;
	position: relative;
	left: 1.70em;
	top: 6em;
	padding: 5px;
}

#reload
{
	max-width: 02%;
	height: auto;
	margin-right: auto;
	float: right;
	padding: 5px;
}

#loupe
{
	float: right;
}
