header, section, footer, aside, nav, main, article, figure {
		display: block
}

body {
	background: url('src/pattern.gif');
	padding: 0; margin: 0;
}

HEADER, ASIDE, #NavLeft, #NavRight
{
	border-radius: 10px;
	box-shadow: 6px 6px 8px black;
}

HEADER
{
	height: 20%;
	width: 80%;
	margin: auto;
	background-color: rgb(255,255,255);
}

#logo_r
{
	max-width: 39%;
	float: right;
}

#image-expand {
	width: 1000px;
	margin: 0px auto;
	position: relative;
	top: 200px;
}

#image-expand div {
	float: left;
	position: relative;
}

#image-expand div .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 200px;
	z-index: -1;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	overflow: hidden;
	z-index: 500;
}

#image-expand div label {
	width: 100px;
	height: 200px;
	display: block;
	background: #f6f6f6;
	box-shadow: inset -25px 0px 30px -10px rgba(0,0,0,0.05);
	cursor: pointer;
	border-right: 1px solid #ddd;
	color: #222;
	overflow: hidden;
	position: relative;
	z-index: 1000;
}

#image-expand div label span {
	width: 140px;
	display: block;
	position: relative;
	top: 70px;
	font-family: 'Myriad Pro', Arial, sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);

}
#image-expand input[type=radio] {
	opacity: 0;	
}

#image-expand input:checked ~ .content {
	width: 500px;
	overflow: hidden;
	margin-left: 100px;
	border-right: 1px solid #ddd;
}

#image-expand .content, #image-expand label, #image-expand input {
	-webkit-transition: all 1.1s ease-in;
	-moz-transition: all 1.1s ease-in;
	-o-transition: all 1.1s ease-in;
	-ms-transition: all 1.1s ease-in;
}


#image-expand label:hover ~ input:checked + .content {
	width: 500px;
}

#image-expand label:hover ~ .content {
	width: 111px;
}

#image-expand label:hover {
	margin-right: 10px;
}

#image-expand input:checked {
	margin-right: 587px;
}

.content .read-more {
	position: absolute;
	bottom: 30px;
	right: 40px;
	text-decoration: none;
	padding: 10px 20px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	box-shadow:  0px 4px 6px #132732, 0px 4px 0px #1d3846, inset 0px 15px 30px -10px rgba(255,255,255,0.2);
	background: #4e96ba;
	border-radius: 4px;
	font-weight: bold;
	color: #fff;
}
